<h2>Search</h2>

<%= form_tag '/search', :method => :get do %>
  <%= search_field_tag 'q', params[:q] %>
  <%= submit_tag 'Search' %>
<% end %>

<% if params[:q].present? %>

  <% if @search.results.present? %>
    <h2>Results</h2>
    <%= render @search.results %>
  <% else %>
    <p>No results found for <q><%= params[:q] %></q>.</p>
  <% end %>

<% else %>

  <h3>Fun examples</h3>
  <p>
    <ul>
      <li><%= link_to 'lark', '/search?q=lark' %></li>
      <li><%= link_to 'saucy', '/search?q=saucy' %></li>
      <li><%= link_to 'slings and arrows', '/search?q=slings+and+arrows' %></li>
      <li><%= link_to 'naughty knave', '/search?q=naughty+knave' %></li>
    </ul>
  </p>
  
  <p></p>
  
  <h3>What's all this?</h3>
  <p>
    A demo showing off the use of
    <code><a href="https//github.com/defunkt/jquery-pjax">jquery-pjax</a></code>
    with your search forms. It's fast and easy!
  </p>

  <p>
    It's also a test bed for my own
    <code><a href="https://github.com/nz/pjax-rails-forms">pjax-rails-forms</a></code>
    plugin for the Rails 3.1 asset pipeline, currently in development.
  </p>

<% end %>
